/* /home/fuentes/.config/waybar/style.css */

* {
    border: none;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 16px;

    margin: 0;
    min-height: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

#workspaces {
    transition: all 1050ms ease-in-out;
}

#workspaces button {
    transition: all 200ms ease-in-out;
    padding: 0 5px;
    margin: 0 2px;
    background: alpha(#2f2e2e, 0.7);
    color: transparent;
    border-radius: 500px;
    border: 2px solid #434343;
}

#workspaces button.focused {
    min-width: 50px;
    background-color: alpha(#e8eaed, 0.6);
    color: transparent;
    font-size: 0px;
    border-radius: 100px;
    border: 2px solid #434343;
}

#clock {
    font-weight: 800;
    color: wheat;
}

#battery, #pulseaudio, #network {
    background-color: alpha(#e8eaed, 0.6);
    color: #121212;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 10px;
    border: 2px solid #434343;
}

/* #pulseaudio {
    background-color: alpha(#2908e4, 0.8);
}

#network {
    background-color: alpha(#07e379, 0.8);
} */